@media screen and (max-width: 1199px) {
  .header__banner {
    margin-top: 8rem;
  }
  .details__list-item img {
    flex-basis: 40%;
  }
  .details__list-item {
    padding-top: 14rem;
  }
  .details__list-content {
    flex-basis: calc(40% - 3.5rem);
  }
  .contacts__socialMedia {
    flex-wrap: wrap;
  }
  .emailAddress label input {
    width: 70rem;
    margin-top: 4rem;
  }
}
@media screen and (max-width: 1023px) {
  .header__banner {
    margin-top: 6rem;
  }
  .header__banner h1 {
    font-size: 5rem;
  }
  .game__list-item {
    flex-basis: calc(50% - 3rem);
  }

  .details__list-item {
    padding-top: 8rem;
  }
  .details__list-item {
    flex-wrap: wrap;
  }
  .details__list-item img {
    flex-basis: 100%;
  }
  .details__list-content {
    flex-basis: 100%;
  }
  .partners {
    padding-top: 8rem;
  }
  .partners__logo {
    flex-wrap: wrap;
  }
  .partners__logo img {
    flex-basis: 12%;
    object-fit: contain;
  }
  .contacts__list-item {
    flex-basis: calc(50% - 3rem);
  }
  .emailAddress label input {
    width: 60rem;
  }
}
@media screen and (max-width: 767px) {
  .header__banner {
    margin-top: 4rem;
  }
  .header__banner h1 {
    font-size: 3rem;
  }
  .header__banner p {
    font-size: 2rem;
  }
  nav {
    display: none;
  }
  .games {
    padding-top: 8rem;
  }
  .game__list-item {
    flex-basis: 100%;
  }
  .details__list-content h3 {
    font-size: 3rem;
  }
  .listContent__column h4 {
    font-size: 1.8rem;
  }
  .listContent__column p {
    font-size: 1.6rem;
  }
  .details__list-item {
    padding-top: 8rem;
  }
  .partners__logo img {
    flex-basis: calc(50% - 3rem);
    object-fit: contain;
    margin-bottom: 3rem;
  }
  .partners__title:after {
    margin: 3rem auto;
  }
  .contacts {
    padding-top: 8rem;
  }
  .contacts__title {
    font-size: 3rem;
  }
  .emailAddress label input {
    width: 35rem;
  }
  .contacts__socialMedia {
    padding-top: 8rem;
  }
  .moreInformation__list {
    flex-wrap: wrap;
  }
  .moreInformation__events {
    flex-basis: calc(50% - 3rem);
    margin-bottom: 3rem;
  }
  .moreInformation__more {
    flex-basis: calc(50% - 3rem);
    margin-bottom: 3rem;
  }
  .moreInformation__help {
    flex-basis: calc(50% - 3rem);
  }
  .moreInformation__list {
    padding-bottom: 5.5rem;
  }
}
@media screen and (max-width: 479px) {
  .header__banner {
    margin-top: 3rem;
  }
  .header__banner h1 {
    font-size: 2.4rem;
  }
  .header__banner p {
    font-size: 1.6rem;
  }
  .emailAddress label input {
    width: 28rem;
  }
  .header__banner .btn {
    font-size: 1.6rem;
    padding: 1rem 2rem;
  }
  .moreInformation__list {
    flex-wrap: wrap;
  }
  .contacts__list-item {
    flex-basis: calc(50% - 1.2rem);
    margin-bottom: 3rem;
  }
  .socialMediaIcon i {
    margin-left: 3.5rem;
  }
  .moreInformation__logo {
    flex-basis: 100%;
  }
  .moreInformation__more {
    flex-basis: 100%;
  }
  .moreInformation__help {
    flex-basis: 100%;
  }
  .moreInformation__list {
    padding-bottom: 100%;
  }
  .moreInformation__list {
    padding-bottom: 3rem;
  }
  .footer {
    flex-wrap: wrap;
    padding-top: 1.5rem;
    padding-bottom: 7rem;
  }
  .footer__left {
    flex-basis: 100%;
    text-align: center;
  }
  .footer__right {
    flex-basis: 100%;
    text-align: center;
  }
}
