@media screen and (max-width: 991px) {
  .navigation {
    left: -300px;
  }
  .navigation.active {
    left: 0;
    width: 300px;
  }
  .main {
    width: 100%;
    left: 0;
  }
  .main.active {
    left: 300px;
  }
  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }
  .recentOrders {
    overflow-x: auto;
  }
}
@media screen and (max-width: 768px) {
  .cardBox {
    grid-template-columns: repeat(1, 100%);
    justify-content: center;
  }
  .cardHeader h2 {
    font-size: 18px;
  }
  .user {
    min-width: 40px;
  }
  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }
  .navigation.navigation.active {
    width: 100%;
    left: 0;
  }
  .toggle {
    z-index: 1001;
  }
  .main.active .toggle {
    color: var(--white);
    position: fixed;
    right: 0;
    left: initial;
  }
}
