/* default set up */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-family: "lato", sans-serif;
  font-size: 20px;
  color: #5a5a5a;
  background-color: #ffffff;
  text-rendering: optimizeLegibility;
}
/* ........................................................ */
/* ...................reuseable component.................. */
.btn {
  display: inline-block;
  padding: 15px;
  text-decoration: none;
  color: white;
  background-color: #e67e22;
  min-width: 190px;
  text-align: center;
  border-radius: 24px;
  transition: background-color 0.25s linear;
}
.btn:hover,
.btn:active {
  background-color: #e66022;
}

.row {
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
}

h1,
h2,
h3 {
  text-transform: uppercase;
  letter-spacing: 1px;
}

h1 {
  color: white;
  font-size: 300%;
  font-weight: 400;
  line-height: 135%;
  margin-bottom: 50px;
}

h2 {
  color: #e67e22;
  font-size: 180%;
  font-weight: 700;
  text-align: center;
}

h2:after {
  content: "";
  display: block;
  width: 150px;
  height: 3px;
  background-color: rgba(230, 126, 34, 0.7);
  margin: 0 auto;
  margin-top: 5px;
}
h3 {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  background-color: #265077;
  color: white;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  margin-bottom: 10px;
}

.p-long {
  text-align: center;
  color: #265077;
  font-size: 22px;
  margin: 40px 0;
  width: 70%;
  margin-left: 15%;
  line-height: 140%;
}
section {
  padding: 30px;
}
.small-icon {
  color: #305679;
  font-size: 130%;
  margin-right: 10px;
}
body {
  overflow-x: hidden;
}
/* .................................................. */
/* ...................header......................... */
/* .................................................. */
.header {
  background-image: linear-gradient(
      45deg,
      rgba(38, 80, 119, 0.8) 70%,
      rgba(45, 95, 93, 0.85)
    ),
    url("../img/background4.jpeg");
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.header-row {
  width: 1140px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -45%);
}
.logo {
  width: 400px;
  margin: -60px 70px;
}
.header-logo {
  display: flex;
  justify-content: space-between;
}
.header-ul {
  list-style: none;
  align-self: center;
  margin-right: 70px;
}
.header-ul li {
  display: inline-block;
  padding: 10px;
  margin-bottom: 2px solid white;
}

.header-ul li a {
  text-decoration: none;
  color: white;
  font-size: 120%;
  font-weight: 500;
  padding: 3px 0;
  transition: border-bottom 0.2s linear;
}
.header-ul li a:hover,
.header-ul li a:active {
  border-bottom: 2px solid rgb(255, 255, 255, 0.7);
}
.header-btn {
  margin: 0 15px 0 0;
}
/* sticky nav */
.sticky {
  background-color: rgb(2, 33, 64, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
  width: 100%;
}
.sticky .header-logo .logo {
  width: 300px;
}
/* mobile navigation icon */
.mobile-nav-icon {
  color: #6b95bd;
  font-size: 200%;
  align-self: center;
  margin-top: 25px;
  padding: 5px;
  margin-right: 20%;
  display: none;
}
/* .................................................. */
/* ..................ABOUT SECTION................... */
/* .................................................. */
.about-picture {
  position: relative;
  margin-top: 50px;
}
.about-picture img {
  width: 90%;
  border-radius: 20px;
  border: 4px solid #c2e1fd;
  box-shadow: 0 5px 15px 5px #265077;
  transition: all 0.2s linear;
}
.picture-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #c2e1fd;
  white-space: nowrap;
}
.div-picture-title {
  position: absolute;
  width: 90%;
  height: 70%;
  bottom: 0;
  left: 0;
  overflow: hidden;
  transition: all 0.1s linear;
  opacity: 0;
}
.about-picture:hover .div-picture-title,
.about-picture:active .div-picture-title {
  height: 100%;
  opacity: 1;
}
.about-picture:hover img,
.about-picture:active img {
  filter: brightness(60%) blur(2px);
}
/* ........................................................ */
/* .....................PRODUCT-SECTION.................... */
/* ........................................................ */
.products-section {
  background-color: #f4f4f4;
}
.products-section h2 {
  margin-bottom: 60px;
}
.products-box {
  background-color: #eeefff;
  width: 90%;
  height: auto;
  padding-bottom: 50px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  box-shadow: 3px 5px 10px #e0e0e0;
}
.product-price {
  color: #265077;
  font-size: 250%;
  font-weight: 300;
  text-align: center;
}
.product-price span {
  font-size: 80%;
  font-weight: 200;
}
.products-box {
  display: flex;
  flex-direction: column;
}
.products-box h3 {
  flex-shrink: 0;
}
.products-box-flexbox {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.products-box-flexbox p {
  flex-shrink: 0;
}
.products-box-flexitem {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.products-box-flexitem ul {
  /* flex: 1; */
}
.products-box-flexitem ul li {
  list-style: none;
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  left: 50%;
  transform: translateX(-30%);
}
.products-box-flexitem .btn {
  display: inline-block;
  position: relative;
  margin-left: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 190px;
  flex-shrink: 0;
}

/* ............................................ */
/* .................TESTIMONIALS-SECTION............... */
/* ..................................................... */
.testimonials-section {
  background-image: linear-gradient(
      45deg,
      rgba(38, 80, 119, 0.8) 55%,
      rgba(45, 95, 93, 0.85)
    ),
    url("../img/background2.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.testimonials-section h2 {
  margin-bottom: 70px;
}
blockquote {
  position: relative;
  font-style: italic;
  line-height: 140%;
  color: white;
}
blockquote::before {
  content: "\201C";
  display: block;
  font-size: 400%;
  position: absolute;
  top: -10px;
  left: -10px;
}
cite {
  display: block;
  color: #6c96bd;
  /* vertical-align: middle; */
  margin-top: 25px;
}

cite img {
  height: 50px;
  border-radius: 50%;
  border: 2px solid #265077;
  vertical-align: middle;
  margin-right: 5px;
}
/* ......................................................... */
/* ......................SPONSOR SECTION.................... */
/* ......................................................... */
.sponsors-section {
}
.sponsors-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  /* width: 1140px; */
  margin: 50px auto;
  justify-content: space-evenly;
  gap: 30px 0;
}
.sponsors-item {
  text-align: center;
  width: 200px;
  height: 200px;
}
.grid-image {
  width: 150px;
  height: 150px;
}
.grid-content {
}
/* ............................................... */
/* .............CONTACT FORM........................ */
/* .................................................... */
.contact-section {
  background-image: linear-gradient(
      45deg,
      rgba(38, 80, 119, 0.8) 70%,
      rgba(45, 95, 93, 0.85)
    ),
    url("../img/background5.jpeg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding-top: 100px;
}
.social-media-address {
  margin-bottom: 10px;
}
.social-media-address span {
  font-size: 16px;
  font-weight: 300;
  color: white;
}
.social-media-address i {
  font-size: 20px;
  color: rgba(101, 101, 191, 0.85);
  transition: all 0.2s linear;
}
.social-media-address i:hover {
  transform: scale(1.3);
}
.media-address i {
  font-size: 150%;
  color: white;
  margin-top: 40px;
  margin-left: 20px;
  transition: all 0.2s linear;
}
.media-address i:hover,
.media-address i:active {
  transform: scale(1.3);
  color: #e67e22;
  cursor: pointer;
}
.contact-form {
}
.contact-form form {
  margin-left: 30%;
  margin-bottom: 50px;
  width: 60%;
  background-color: rgba(34, 31, 31, 0.776);
  padding: 20px;
}
.contact-form-text {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.contact-form-text label {
  color: white;
  font-size: 25px;
  font-weight: 400;
}
.contact-form-text label {
  display: inline-block;
  min-width: 120px;
  flex-shrink: 0;
}
.contact-form-text input {
  display: inline-block;
  padding: 15px;
  color: black;
  background-color: rgba(27, 25, 25, 0.565);
  font-size: 16px;
  outline: none;
  border: none;
  border-radius: 24px;
  text-align: center;
  flex: 1;
}
.contact-form-text textarea {
  resize: none;
  padding: 10px;
  color: black;
  background-color: rgba(27, 25, 25, 0.565);
  font-size: 16px;
  outline: none;
  border: none;
  flex: 1;
}
.contact-form form input[type="submit"] {
  display: block;
  outline: none;
  border: none;
  border-radius: 5px;
  margin: 0 auto;
}
/* ........................................... */
/* .................FOOTER........................ */
/* ............................................... */
footer {
  text-align: center;
  background-color: #494949;
  color: white;
  padding: 20px;
}
